html {
  width: 100vw;
  margin: 0;
  font-size: 15px;
  overflow-x: hidden;
}

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#root {
  height: 100%;
}

.outer-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  height: 100%;
  display: flex;
}

/* Scroller Styling */

/* Scrollbar styling for WebKit browsers */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #b2ebf2; /* Light background for the track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #94c4eb; /* Color of the scrollbar handle */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #99ccff; /* Color when hovering over the handle */
}